<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Postagens
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/admin/posts">Postagens</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <a href="/admin/posts/create" class="btn btn-success">Cadastrar Postagem</a>
                        
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th style="width: 10px">ID</th>
                                <th>Título</th>
                                <th>Data</th>
                                <th style="width: 100px">Status</th>
                                <th style="width: 140px">&nbsp;</th>
                            </tr>
                            {loop="$posts"}
                            <tr>
                                <td>{$value.post_id}</td>
                                <td>{$value.post_title}</td>
                                <td>{function="date('d/m/Y H:i:s',strtotime($value.post_date))"}</td>
                                <td>{if="$value.post_status"}<span class="label label-success">Ativo</span>{else}<span class="label label-danger">Inativo</span>{/if}</td>
                                <td>
                                    <a href="/admin/posts/{$value.post_id}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                                    <a href="/admin/posts/{$value.post_id}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                                </td>
                            </tr>
                            {/loop}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->